name: Publish

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v3
        with:
          cache: 'pnpm'
          node-version: 22
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Build
        run: |
          pnpm build
          cp LICENSE dist/LICENSE
      - uses: TheDoctor0/zip-release@0.7.6
        with:
          directory: dist
          filename: 'simple-download-${{ github.ref_name }}.zip'
      - uses: ncipollo/release-action@v1
        with:
          artifacts: 'dist/simple-download-${{ github.ref_name }}.zip'
          draft: true
          name: 'Simple Download ${{ github.ref_name }}'
